
////////////////////////////////////////////////////////////////////////////////
// Application Container
////////////////////////////////////////////////////////////////////////////////
#container-application {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

////////////////////////////////////////////////////////////////////////////////
// Twitch Logo
////////////////////////////////////////////////////////////////////////////////
#container-logo {
  max-width: 100%;
  text-align: center;

  img { width: 35%; };
  margin: 20px;
}

////////////////////////////////////////////////////////////////////////////////
// Tabs
////////////////////////////////////////////////////////////////////////////////
#container-tabs {

  margin-top: 5px;

  // Tabs
  .tab {
    display: inline-block;
    background-color: $colour-tab-bg;
    color: $colour-tab-text;
    float: left;
    width: 33.33%;
    text-align: center;

    font-size: 1.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;

    &:hover { background-color: $colour-tab-bg-hover; };
  }
}

////////////////////////////////////////////////////////////////////////////////
// List of Streams
////////////////////////////////////////////////////////////////////////////////

// Colours.
$colour-stream-tbl-bg: $colour-twitch-lightgrey;

#tbl-streams {

  // Table width.
  width: 100%;

  // Stream Image Container.
  .stream-image {
    width: 15%;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px $colour-twitch-purple;

    // Stream Image fills its parent container,
    // maximizes image width.
    img { max-width: 100%; };
  }

  // Stream Info Container.
  .stream-info {
    //max-width: 80%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.75em;
    background-color: white;
    border-bottom: solid 1px $colour-twitch-purple;

    a {
      text-decoration: none;
      &:focus { color: $colour-twitch-darkgrey; };
      &:link { color: $colour-twitch-darkgrey; };
      &:visited { color: $colour-twitch-darkgrey; };
      &:hover { color: $colour-twitch-purple; };

      em { font-size: 0.6em; };
    }


  };

}
