////////////////////////////////////////////////////////////////////////////////
// Colours
////////////////////////////////////////////////////////////////////////////////
$colour-twitch-purple: #6441A5;
$colour-twitch-lightpurple: #B9A3E3;
$colour-twitch-darkgrey: #262626;
$colour-twitch-lightgrey: #F1F1F1;

////////////////////////////////////////////////////////////////////////////////
// Tabs for All, Online, Offline sections
////////////////////////////////////////////////////////////////////////////////

// Colours.
$colour-tab-bg: $colour-twitch-purple;
$colour-tab-bg-hover: $colour-twitch-darkgrey;
$colour-tab-text: white;
